# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk
*.map
*.exp

# Debugger Files
*.pdb
*.dSYM/
*.su
*.idb

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lo
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# debug information files
*.dwo

#settings
.settings/

#metadata
.metadata/

#Debug
Debug/
debug/
Release/
release
